

<div class="auction_index_container">
    <div class="container">
      <div class="row">   
        <h1 id="index_title">Auctions</h1>

        <% @auctions.each do |j| %>
          <div class="thumbs">
            <strong>Amount:</strong> $<%= j.amount %><br>
            <strong>Category:</strong> <%= j.category %><br>
            <strong>Time Remaining:</strong> $<%= j.amount %><br>
            <%= link_to "View this Auction!", auction_path(j) %><br>
            

              <br>
           <% end %>    
          </div>
        
 
      </div>        
    </div>
 
  </div>q




 <div class="buttons2">
    <span class="cash-button">
       <%= link_to "Put up some CA$H", new_auction_path, :method => :get %>
    </span>
    <span class="dashboard-button">
     <%= link_to "Your Dashboard", dashboard_path, :method => :get %>
    </span>  
  </div>