<script src='/assets/auctions.js'></script>
<br>
<br>
<%= @current_user.id %>


<br>
<div class = "details">
<strong>Amount:</strong> $<%= @auction.amount %><br>
<strong>Category:</strong> <%= @auction.category %><br>



<strong>Time Remaining:</strong><div id="countdowntimertxt" class="countdowntimer">00:00:00</div>


</div>
<br>


<div class = "bid">
    <div class="open-modal">
    <button><a href="#openModal">ADD LISTING</a></button>
    </div>
</div>
    <div id="openModal" class="modalDialog">
    <div>
    <a href="#close" title="Close" class="close"></a>
    <!-- <p><%# if (current_user == nil) %> -->
        <div>
           
             
              <%= form_for @photo, as: :photo, url: photo_create_path, method: :post do |f| %>
                <%= f.hidden_field :auction_id, :value => @auction.id %>
                <%= f.hidden_field :user_id, :value => @current_user.id %>
                <div>
                    Name: <%= f.text_area :name, class: "form-control" %>
                </div><br>
                <div>
                    Upload Image: <%= f.file_field :image, class: "form-control" %>
                </div><br>
                <div>
                    Description: <%= f.text_area :description, class: "form-control" %>
                </div><br>
            
                <div><%= submit_tag("Post New Item", class: "btn btn-danger") %></div>
                <br>
             <% end %> 
            
        </div>
    </div>
</div>

   
<div class="row">       
    <h1 id="index_title">Current Bids</h1>

    <% @photos.each do |j| %>
        <div class="thumbs">
         
            <h2>Name:</h2> <h3><%= j.name %></h3><br> 
            <%= link_to image_tag(j.image, size: "200x190"), photo_path(j) %>  
            <h2>Description:</h2> <h3><%= j.description %></h3><br> 
            <% if current_user.id === @auction.user_id %>
            <button><%= link_to "Choose this Product", update_photo_path(j.id, winner_id: current_user.id), method: :patch %></button>
            <% end %>
        </div>
        
    <% end %> 

</div>              


</div>
  <div class="buttons3">
    <span class="cash-button3">
       <%= link_to "Put up some CA$H", new_auction_path, :method => :get %>
    </span>
    <span class="shopping-button3">
       <%= link_to "Start Selling", auctions_path, :method => :get %>
    </span>  
  </div>

  <br>
  <br>
  <br>
  <div>
   <span class="dashboard-button3">
       <%= link_to "Your Dashboard", dashboard_path, :method => :get %>
   </span> 
  </div> 

    
<script>

    // var time = <%=raw @auction.created_at.to_i %>
    var aucCreated = <%=raw (@auction.created_at.to_f * 1000).to_i %>
    var auctionLength = <%=raw (@auction.auction_period) %>;
    console.log("auc length", auctionLength);
    console.log("when auc was created", aucCreated);
    
    var testAgain = <%=raw (Time.now.to_f*1000).to_i %>
    console.log("current time", testAgain);

    var timeLeft = (aucCreated+auctionLength) - testAgain;
    var timeElasped = testAgain - aucCreated;
    console.log(timeElasped);


    var sTime = new Date().getTime();

    //Function to truncate the milliseconds out for the countdown view
    Number.prototype.toFixedDown = function(digits) {
        var re = new RegExp("(\\d+\\.\\d{" + digits + "})(\\d)"),
            m = this.toString().match(re);
        return m ? parseFloat(m[1]) : this.valueOf();
    };

    <% if current_page?(auction_path) %>

    function UpdateCountDownTime() {
        console.log('this is still runnin');
        var cTime = new Date().getTime();
        var diff = cTime - sTime;
        // var diff =
        var timeStr = '';
        // diff is the time to start counting down from
        var seconds = timeLeftAgain - Math.floor(diff/1000);
        console.log('seconds', seconds, "time left", timeLeftAgain);
        if (seconds > 0) {
            var hours = Math.floor(seconds / 3600);
            var minutes = Math.floor( (seconds-(hours*3600)) / 60);
            seconds -= (hours*3600) + (minutes*60);
            if( hours < 10 ){
                timeStr = "0" + hours;
            }else{
                timeStr = hours;
            }
            if( minutes < 10 ){
                timeStr = timeStr + ":0" + minutes;
            }else{
                timeStr = timeStr + ":" + minutes;
            }
            if( seconds < 10){
                timeStr = timeStr + ":0" + seconds;
            }else{
                timeStr = timeStr + ":" + seconds;
            }
            // console.log(seconds)
            document.getElementById("countdowntimertxt").innerHTML = timeStr;
        }
        else{
            document.getElementById("countdowntimertxt").style.display="none";
            clearInterval(counter);
        }
    }
    <% end %>

    //If no time left, do not define timeLeftAgain
    if (timeLeft >0){
        var timeLeftAgain = (timeLeft/1000).toFixedDown(0);
        console.log(timeLeftAgain);
        UpdateCountDownTime();
    }
    else {
        var timeLeftAgain = 0;
    }
    //every .5 seconds run UpdateCountDownTime to display the clock
    var counter = setInterval(UpdateCountDownTime, 500);


</script>

