<script src='/assets/auctions.js'></script>
<br>
<br>


<br>
<div class = "details">
<strong>Amount:</strong> $<%= @auction.amount %><br>
<strong>Category:</strong> <%= @auction.category %><br>



<strong>Time Remaining:</strong><div id="countdowntimertxt" class="countdowntimer">00:00:00</div>
</div>
<br>


<div class = "bid">
    <div class="open-modal">
    <button><a href="#openModal">BID NOW</a></button>
    </div>
</div>
    <div id="openModal" class="modalDialog">
    <div>
    <a href="#close" title="Close" class="close"></a>
    <!-- <p><%# if (current_user == nil) %> -->
        <div>
              <%= @auction.id %>
              <%= form_for @photo, as: :photo, url: photo_create_path, method: :post do |f| %>
                <%= f.hidden_field :auction_id, :value => @auction.id %>
                <div>
                    Name: <%= f.text_area :name, class: "form-control" %>
                </div><br>
                <div>
                    Upload Image: <%= f.file_field :image, class: "form-control" %>
                </div><br>
                <div>
                    Description: <%= f.text_area :description, class: "form-control" %>
                </div><br>
            
                <div><%= submit_tag("Post New Item", class: "btn btn-danger") %></div>
                <br>
            <% end %> 
        </div>
    </div>
</div>

   

    <div>
    <% @photos.each do |t| %>
        <%= t.name %>
        <%= t.image %>
    <%end %>
</div>

    
    <script type="text/javascript">
    var sTime = new Date().getTime();
    var countDown = <%= @auction.auction_period%>; // Number of seconds to count down from.        
    function UpdateCountDownTime() {
        var cTime = new Date().getTime();
        var diff = cTime - sTime;
        var timeStr = '';
        var seconds = countDown - Math.floor(diff / 1000);
        if (seconds >= 0) {
            var hours = Math.floor(seconds / 3600);
            var minutes = Math.floor( (seconds-(hours*3600)) / 60);
            seconds -= (hours*3600) + (minutes*60);
            if( hours < 10 ){
                timeStr = "0" + hours;
            }else{
                timeStr = hours;
            }
            if( minutes < 10 ){
                timeStr = timeStr + ":0" + minutes;
            }else{
                timeStr = timeStr + ":" + minutes;
            }
            if( seconds < 10){
                timeStr = timeStr + ":0" + seconds;
            }else{
                timeStr = timeStr + ":" + seconds;
            }
            document.getElementById("countdowntimertxt").innerHTML = timeStr;
        }else{
            document.getElementById("countdowntimertxt").style.display="none";
            clearInterval(counter);
        }
    }
    UpdateCountDownTime();
    var counter = setInterval(UpdateCountDownTime, 500);
// var loading_dialog = $('#loading_dialog');
// loading_dialog
//     .ajaxStart(function () {
//         loading_dialog.modal('show');
//     })
//     .ajaxStop(function () {
//         loading_dialog.modal('hide');
// });

