




<br>
<strong>Amount:</strong> $<%= @auction.amount %><br>
<strong>Category:</strong> <%= @auction.category %><br>


<strong>Time Remaining:</strong><div id="countdowntimertxt" class="countdowntimer">00:00:00</div>
<br>
<br>
<br>


        <h1>Add A Product</h1>
    
        <div>
              <%= form_for Photo.new, :url => {:action => :create} do |f| %>



                <div>
                    Name: <%= f.text_area :name, class: "form-control" %>
                </div><br>
                <div>
                    Upload Image: <%= f.file_field :image, class: "form-control" %>
                </div><br>
                <div>
                    Description: <%= f.text_area :description, class: "form-control" %>
                </div><br>
            
                <div><%= submit_tag("Post New Joke", class: "btn btn-danger") %></div>
                <br>
            <% end %> 
        </div>
    </div>



<script type="text/javascript">
 var sTime = new Date().getTime();
    var countDown = 3700; // Number of seconds to count down from.        
    // var eTime = sTime+(countDown * 1000);
    // console.log(eTime)
 


    function UpdateCountDownTime() {
        var cTime = new Date().getTime();
        var diff = cTime - sTime;
        var timeStr = '';
        var seconds = countDown - Math.floor(diff / 1000);
        if (seconds >= 0) {
            var hours = Math.floor(seconds / 3600);
            var minutes = Math.floor( (seconds-(hours*3600)) / 60);
            seconds -= (hours*3600) + (minutes*60);
            if( hours < 10 ){
                timeStr = "0" + hours;
            }else{
                timeStr = hours;
            }
            if( minutes < 10 ){
                timeStr = timeStr + ":0" + minutes;
            }else{
                timeStr = timeStr + ":" + minutes;
            }
            if( seconds < 10){
                timeStr = timeStr + ":0" + seconds;
            }else{
                timeStr = timeStr + ":" + seconds;
            }
            document.getElementById("countdowntimertxt").innerHTML = timeStr;
        }else{
            document.getElementById("countdowntimertxt").style.display="none";
            clearInterval(counter);
        }
    }

    UpdateCountDownTime();
    var counter = setInterval(UpdateCountDownTime, 500);



</script>




