<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js"></script>
<script>
(function(e){function t(t,n,r,i){var s=t.text().split(n),o="";if(s.length){e(s).each(function(e,t){o+='<span class="'+r+(e+1)+'">'+t+"</span>"+i});t.empty().append(o)}}var n={init:function(){return this.each(function(){t(e(this),"","char","")})},words:function(){return this.each(function(){t(e(this)," ","word"," ")})},lines:function(){return this.each(function(){var n="eefec303079ad17405c889e092e105b0";t(e(this).children("br").replaceWith(n).end(),n,"line","")})}};e.fn.lettering=function(t){if(t&&n[t]){return n[t].apply(this,[].slice.call(arguments,1))}else if(t==="letters"||!t){return n.init.apply(this,[].slice.call(arguments,0))}e.error("Method "+t+" does not exist on jQuery.lettering");return this}})(jQuery);
(function(e){e.fn.textFx=function(t){var n=e.extend({type:"fadeIn",iChar:250,iAnim:500,direction:"top"},t);return this.each(function(){e(this).lettering();var t=e(this).find("span");var r=0;if(n.type=="fadeIn"){t.css({opacity:0});t.each(function(){e(this).delay(n.iChar*r).transition({opacity:1},n.iAnim);r+=1})}if(n.type=="slideIn"){if(n.direction=="top"){t.css({position:"relative",top:-t.position().top-t.height()*2})}if(n.direction=="bottom"){t.css({position:"relative",top:e(document).height()-t.position().top+t.height()*2})}if(n.direction=="left"){t.css({position:"relative",left:-t.position().left-e(this).width()})}if(n.direction=="right"){t.css({position:"relative",left:t.position().left+e(this).width()})}t.each(function(){e(this).delay(n.iChar*r).transition({top:0,left:0},n.iAnim);r+=1})}if(n.type=="rotate"){t.css({opacity:0});t.each(function(){e(this).delay(n.iChar*r).transition({opacity:1,rotate:360},n.iAnim);r+=1})}if(n.type=="scale"){e(this).css({scale:0});e(this).each(function(){e(this).delay(n.iChar*r).transition({scale:1},n.iAnim);r+=1})}})}})(jQuery);
</script>


<script>
function hideModal(modalId){
  $("#"+modalId).modal();
  $("#"+modalId).modal("hide");
}

$(function(){
  $('#info').textFx({
    type: 'rotate'
  });
});
</script>

<h1 id="info"><em>A REVERSAL OF FORTUNE</em></h1>

<div class="modalDialog" id="openModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >

    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel1">SIGN UP</h4>
      </div>
      <div class="modal-body">
        <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="actions"><%= f.submit "SUBMIT" %>
    </div>
  <% end %>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-toggle="modal" href="myModal" data-dismiss="modalDialog" onclick="hideModal('openModal-1');">x</button>
      </div>
    </div>
</div>



<div class="modalDialog" id="openModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
 
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="dialog"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel2">LOGIN</h4>
      </div>
      <div class="modal-body">
        <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    

    <div class="actions"><%= f.submit "LOGIN" %>
    </div>
  <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="hideModal('openModal-2');">x</button>
      </div>
    </div>
</div>

<div class="slogan">
  <h1>

<div class="sand-clock">
</div>
  