<!DOCTYPE html>
<html>
<head>
  <title>Yabe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
      <a class="navbar-brand" href="">
      <div class="yabe">
        <div class="y">y</div>
        <div class="a">a</div>
        <div class="b">b</div>
        <div class="e">e</div>
    </div>

  
    </div>
    <html lang=""><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>CSS MenuMaker</title>
</head>
<body>

<div id="cssmenu">
  <div class="nav-background">
</div>
  
<ul>
  <% if !current_user%>
   <li>
    <div class="signup">
     <a href="#openModal-1">SIGN UP</a>
    </div>
   </li>
   <li class="last">
    <div class="login">
     <a href="#openModal-2">LOGIN</a>
    </div>
   </li>
   <%end%>
</ul>

</div>


     <div id="user_header">
      <% if current_user %>
         <div class="logged-in">
           Welcome, <%= current_user.email %>!
           <div class="logout-link">
            <%= link_to "Log Out", logout_path %>
          </div>
           </div> 
      <% else %>

      <% end %>
      </div>
      <% flash.each do |name,msg| %>
     
      <% end %>

<div class="buttons">
    <span class="cash-button">
     <%= link_to "Put up some CA$H", new_auction_path, :method => :get %>
    </span>
    <span class="shopping-button">
     <%= link_to "Start Selling", auctions_path, :method => :get %>
    </span>  
</div>

  <div>
   <span class="dashboard-button">
     <%= link_to "Dashboard", dashboard_path, :method => :get %>
   </span> 
  </div>  

<%= yield %>

