<!DOCTYPE html>
<html>
<head>
  <title>Yabe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
      <a class="navbar-brand" href="/home">
      <div class="yabe">
        <div class="y">y</div>
        <div class="a">a</div>
        <div class="b">b</div>
        <div class="e">e</div>
    </div>

  
    </div>
    <html lang=""><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>CSS MenuMaker</title>
</head>
<body>

<div id="cssmenu">
<ul>
   <li><a href="file:///Users/SamanthaSamuels/Downloads/index%20(5).html#"><span>SIGN UP</span></a></li>
   <li class="last"><a href="file:///Users/SamanthaSamuels/Downloads/index%20(5).html#"><span>Log In</span></a></li>
</ul>
</div>

    <div id="user_header">
      <% if current_user %>
      <div class="logged-in">
        Welcome, <%= current_user.email %>!
          <%= link_to "Log Out", logout_path %>
      </div>
          <% else %>

          <% end %>
  
      <% flash.each do |name,msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>


<%= yield %>

