

<div class="open-modal">
<a href="#openModal">SIGN UP</a>
<a href="#openModal">Login</a>
</div>

<div id="openModal" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close"></a>
    <p><% if (current_user == nil) %>

  <%= form_for @user do |f| %>
  <div class="signup-logo">
    <h1>Sign Up </h1>
  </div>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="open-modal">

</div>

<div id="openModal" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close"></a>
  
  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="field">
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag "Log In" %></div>
  <% end %>

</p>
  </div>
  
</div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="actions"><%= f.submit "Sign Up" %></div>
  <% end %>

<% end %>

  
</p>
  </div>
  
</div>



  